/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  background: #190d709a;
}
.container {
  width: 500px;
  background: transparent;
  border-radius: 8px;
  margin: 1rem;
}
.container h2 {
  font-weight: 600;
  font-size: 1.31rem;
  padding: 1rem 1.75rem;
  color: #000;
}
.container .header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.container .header span:first-of-type {
  display: inline-block;
  vertical-align: middle;
  line-height: 2rem;
  padding: 1rem;
  padding-right: 2rem;
  font-size: 2rem;
}

.history {
  padding: 1.25rem 1.75rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  margin-block-start: 3rem;
  min-height: fit-content;
  background-color: transparent;
  position: absolute;
  width: 500px;
  display: none;
  margin-block-start: 16rem;
}
.history.show {
  display: block;
}

.history ol {
  color: black;
  /* position: relative; */
}
.history li {
  margin-bottom: 8px;
}

.wrapper {
  padding: 1.25rem 1.75rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  margin-block-start: 3rem;
}
.controls.hide {
  display: none;
}
.wrapper .input-box {
  position: relative;
}
.input-box input {
  width: 100%;
  height: 53px;
  color: #000;
  background: none;
  font-size: 1.06rem;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 1.4px;
  border: 1px solid #aaa;
  padding: 0 2.85rem 0 1rem;
}
.input-box span,
.history span {
  position: absolute;
  right: 13px;
  cursor: pointer;
  line-height: 53px;
  color: #707070;
}

.history span {
  top: 10px;
  right: 40px;
}

:where(.input-box span,.history span:hover ):hover {
  color: #4285f4 !important;
}

.wrapper .pass-indicator {
  width: 100%;
  height: 4px;
  position: relative;
  background: #dfdfdf;
  margin-top: 0.75rem;
  border-radius: 25px;
}
.pass-indicator::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  border-radius: inherit;
  transition: width 0.3s ease;
}
.pass-indicator#weak::before {
  width: 20%;
  background: #e64a4a;
}
.pass-indicator#medium::before {
  width: 50%;
  background: #f1c80b;
}
.pass-indicator#strong::before {
  width: 100%;
  background: #4285f4;
}
.wrapper .pass-length {
  margin: 1.56rem 0 1.25rem;
}
.pass-length .details {
  display: flex;
  justify-content: space-between;
  color: #000;
}
.pass-length input {
  width: 100%;
  height: 5px;
}

.scaleAnimation {
  animation: copy 4s alternate-reverse;
}

@keyframes copy {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.25;
    color: #425ff4;
  }
  100% {
    scale: 1;
  }
}

.pass-settings {
  color: #000;
}
.pass-settings .options {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.pass-settings .options .option {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: calc(100% / 2);
}
.options .option:first-child {
  pointer-events: none;
}
.options .option:first-child input {
  opacity: 0.7;
}
.options .option input {
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.options .option label {
  cursor: pointer;
  color: #4f4f4f;
  padding-left: 0.63rem;
}

.wrapper .btns {
  display: flex;
  justify-content: space-between;
}

.wrapper .generate-btn {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  background: #425ff4;
  font-size: 1.06rem;
  padding: 0.94rem 0;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 0.94rem 0 1.3rem;
  max-height: 56px;
}

.wrapper button:first-of-type {
  width: 75%;
}
.wrapper button:last-of-type {
  width: 20%;
}

.wrapper .generate-btn:hover {
  opacity: 0.8;
}

.details input:first-of-type {
  width: 2.5rem;
  height: 26px;
  padding-left: 3px;
}
input[type="number"],
textarea {
  background-color: #425ff4;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
